--
-- PostgreSQL database dump
--

\restrict 5wK4UoC0yx49OftjbvBWWqvXJDdD4JRJsgHSwXpOrdgdW4shFj2wff6rdfZGudy

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.watchlists DROP CONSTRAINT IF EXISTS watchlists_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.watchlist_items DROP CONSTRAINT IF EXISTS watchlist_items_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_activity_log DROP CONSTRAINT IF EXISTS user_activity_log_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.trading_groups DROP CONSTRAINT IF EXISTS trading_groups_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.support_messages DROP CONSTRAINT IF EXISTS support_messages_ticket_id_fkey;
ALTER TABLE IF EXISTS ONLY public.support_chat_messages DROP CONSTRAINT IF EXISTS support_chat_messages_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.subscriptions DROP CONSTRAINT IF EXISTS subscriptions_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.subscriptions DROP CONSTRAINT IF EXISTS subscriptions_plan_id_fkey;
ALTER TABLE IF EXISTS ONLY public.signal_outcomes DROP CONSTRAINT IF EXISTS signal_outcomes_signal_history_id_fkey;
ALTER TABLE IF EXISTS ONLY public.prediction_log DROP CONSTRAINT IF EXISTS prediction_log_signal_history_id_fkey;
ALTER TABLE IF EXISTS ONLY public.portfolio_value_history DROP CONSTRAINT IF EXISTS portfolio_value_history_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.portfolio_holdings DROP CONSTRAINT IF EXISTS portfolio_holdings_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payment_transactions DROP CONSTRAINT IF EXISTS payment_transactions_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payment_transactions DROP CONSTRAINT IF EXISTS payment_transactions_subscription_id_fkey;
ALTER TABLE IF EXISTS ONLY public.paper_trades DROP CONSTRAINT IF EXISTS paper_trades_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.paper_positions DROP CONSTRAINT IF EXISTS paper_positions_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.paper_accounts DROP CONSTRAINT IF EXISTS paper_accounts_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.messages DROP CONSTRAINT IF EXISTS messages_sender_id_fkey;
ALTER TABLE IF EXISTS ONLY public.messages DROP CONSTRAINT IF EXISTS messages_recipient_id_fkey;
ALTER TABLE IF EXISTS ONLY public.messages DROP CONSTRAINT IF EXISTS messages_group_id_fkey;
ALTER TABLE IF EXISTS ONLY public.market_data DROP CONSTRAINT IF EXISTS market_data_stock_id_fkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS group_members_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS group_members_group_id_fkey;
ALTER TABLE IF EXISTS ONLY public.followers DROP CONSTRAINT IF EXISTS followers_follower_id_fkey;
ALTER TABLE IF EXISTS ONLY public.followers DROP CONSTRAINT IF EXISTS followers_followee_id_fkey;
ALTER TABLE IF EXISTS ONLY public.broker_connections DROP CONSTRAINT IF EXISTS broker_connections_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.broker_account_snapshots DROP CONSTRAINT IF EXISTS broker_account_snapshots_broker_connection_id_fkey;
ALTER TABLE IF EXISTS ONLY public.admin_audit_log DROP CONSTRAINT IF EXISTS admin_audit_log_admin_id_fkey;
DROP INDEX IF EXISTS public.idx_user_activity_user_id;
DROP INDEX IF EXISTS public.idx_user_activity_created_at;
DROP INDEX IF EXISTS public.idx_user_activity_action;
DROP INDEX IF EXISTS public.idx_trade_log_ticker;
DROP INDEX IF EXISTS public.idx_trade_log_executed_at;
DROP INDEX IF EXISTS public.idx_signal_outcomes_ticker;
DROP INDEX IF EXISTS public.idx_signal_outcomes_result;
DROP INDEX IF EXISTS public.idx_signal_history_ticker;
DROP INDEX IF EXISTS public.idx_signal_history_generated_at;
DROP INDEX IF EXISTS public.idx_signal_audit_log_type;
DROP INDEX IF EXISTS public.idx_signal_audit_log_recorded_at;
DROP INDEX IF EXISTS public.idx_prediction_log_ticker;
DROP INDEX IF EXISTS public.idx_prediction_log_signal_history_id;
DROP INDEX IF EXISTS public.idx_prediction_log_actual_outcome;
DROP INDEX IF EXISTS public.idx_messages_private;
DROP INDEX IF EXISTS public.idx_messages_group;
DROP INDEX IF EXISTS public.idx_market_data_stock_date;
DROP INDEX IF EXISTS public.idx_fp_symbol;
DROP INDEX IF EXISTS public.idx_fp_resolved;
DROP INDEX IF EXISTS public.idx_engine_health_recorded_at;
DROP INDEX IF EXISTS public.idx_admin_audit_log_created_at;
DROP INDEX IF EXISTS public.idx_admin_audit_log_admin_id;
DROP INDEX IF EXISTS public.idx_admin_audit_log_action;
ALTER TABLE IF EXISTS ONLY public.watchlists DROP CONSTRAINT IF EXISTS watchlists_pkey;
ALTER TABLE IF EXISTS ONLY public.watchlist_items DROP CONSTRAINT IF EXISTS watchlist_items_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.user_activity_log DROP CONSTRAINT IF EXISTS user_activity_log_pkey;
ALTER TABLE IF EXISTS ONLY public.portfolio_holdings DROP CONSTRAINT IF EXISTS unique_user_ticker_broker;
ALTER TABLE IF EXISTS ONLY public.watchlist_items DROP CONSTRAINT IF EXISTS unique_symbol_user;
ALTER TABLE IF EXISTS ONLY public.trading_groups DROP CONSTRAINT IF EXISTS trading_groups_pkey;
ALTER TABLE IF EXISTS ONLY public.trade_log DROP CONSTRAINT IF EXISTS trade_log_pkey;
ALTER TABLE IF EXISTS ONLY public.support_tickets DROP CONSTRAINT IF EXISTS support_tickets_pkey;
ALTER TABLE IF EXISTS ONLY public.support_messages DROP CONSTRAINT IF EXISTS support_messages_pkey;
ALTER TABLE IF EXISTS ONLY public.support_chat_messages DROP CONSTRAINT IF EXISTS support_chat_messages_pkey;
ALTER TABLE IF EXISTS ONLY public.subscriptions DROP CONSTRAINT IF EXISTS subscriptions_pkey;
ALTER TABLE IF EXISTS ONLY public.subscription_plans DROP CONSTRAINT IF EXISTS subscription_plans_pkey;
ALTER TABLE IF EXISTS ONLY public.subscription_plans DROP CONSTRAINT IF EXISTS subscription_plans_name_key;
ALTER TABLE IF EXISTS ONLY public.stocks DROP CONSTRAINT IF EXISTS stocks_ticker_key;
ALTER TABLE IF EXISTS ONLY public.stocks DROP CONSTRAINT IF EXISTS stocks_pkey;
ALTER TABLE IF EXISTS ONLY public.stock_fundamentals DROP CONSTRAINT IF EXISTS stock_fundamentals_pkey;
ALTER TABLE IF EXISTS ONLY public.signal_outcomes DROP CONSTRAINT IF EXISTS signal_outcomes_pkey;
ALTER TABLE IF EXISTS ONLY public.signal_history DROP CONSTRAINT IF EXISTS signal_history_pkey;
ALTER TABLE IF EXISTS ONLY public.signal_audit_log DROP CONSTRAINT IF EXISTS signal_audit_log_pkey;
ALTER TABLE IF EXISTS ONLY public.prediction_log DROP CONSTRAINT IF EXISTS prediction_log_pkey;
ALTER TABLE IF EXISTS ONLY public.portfolio_value_history DROP CONSTRAINT IF EXISTS portfolio_value_history_pkey;
ALTER TABLE IF EXISTS ONLY public.portfolio_state DROP CONSTRAINT IF EXISTS portfolio_state_pkey;
ALTER TABLE IF EXISTS ONLY public.portfolio_holdings DROP CONSTRAINT IF EXISTS portfolio_holdings_pkey;
ALTER TABLE IF EXISTS ONLY public.payment_transactions DROP CONSTRAINT IF EXISTS payment_transactions_pkey;
ALTER TABLE IF EXISTS ONLY public.payment_transactions DROP CONSTRAINT IF EXISTS payment_transactions_external_reference_key;
ALTER TABLE IF EXISTS ONLY public.paper_trades DROP CONSTRAINT IF EXISTS paper_trades_pkey;
ALTER TABLE IF EXISTS ONLY public.paper_positions DROP CONSTRAINT IF EXISTS paper_positions_pkey;
ALTER TABLE IF EXISTS ONLY public.paper_accounts DROP CONSTRAINT IF EXISTS paper_accounts_user_id_key;
ALTER TABLE IF EXISTS ONLY public.paper_accounts DROP CONSTRAINT IF EXISTS paper_accounts_pkey;
ALTER TABLE IF EXISTS ONLY public.otp_codes DROP CONSTRAINT IF EXISTS otp_codes_pkey;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_pkey;
ALTER TABLE IF EXISTS ONLY public.messages DROP CONSTRAINT IF EXISTS messages_pkey;
ALTER TABLE IF EXISTS ONLY public.market_data DROP CONSTRAINT IF EXISTS market_data_pkey;
ALTER TABLE IF EXISTS ONLY public.group_members DROP CONSTRAINT IF EXISTS group_members_pkey;
ALTER TABLE IF EXISTS ONLY public.forward_predictions DROP CONSTRAINT IF EXISTS forward_predictions_pkey;
ALTER TABLE IF EXISTS ONLY public.followers DROP CONSTRAINT IF EXISTS followers_pkey;
ALTER TABLE IF EXISTS ONLY public.engine_health DROP CONSTRAINT IF EXISTS engine_health_pkey;
ALTER TABLE IF EXISTS ONLY public.engine_config DROP CONSTRAINT IF EXISTS engine_config_pkey;
ALTER TABLE IF EXISTS ONLY public.broker_connections DROP CONSTRAINT IF EXISTS broker_connections_pkey;
ALTER TABLE IF EXISTS ONLY public.broker_account_snapshots DROP CONSTRAINT IF EXISTS broker_account_snapshots_pkey;
ALTER TABLE IF EXISTS ONLY public.app_cache DROP CONSTRAINT IF EXISTS app_cache_pkey;
ALTER TABLE IF EXISTS ONLY public.admin_audit_log DROP CONSTRAINT IF EXISTS admin_audit_log_pkey;
ALTER TABLE IF EXISTS public.watchlists ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.watchlist_items ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.user_activity_log ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.trade_log ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.support_tickets ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.support_messages ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.support_chat_messages ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.subscriptions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.subscription_plans ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.stocks ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.signal_outcomes ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.signal_history ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.signal_audit_log ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.prediction_log ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.portfolio_value_history ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.portfolio_holdings ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payment_transactions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.paper_trades ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.paper_positions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.paper_accounts ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.otp_codes ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.notifications ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.messages ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.market_data ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.forward_predictions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.engine_health ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.broker_connections ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.broker_account_snapshots ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.admin_audit_log ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.watchlists_id_seq;
DROP TABLE IF EXISTS public.watchlists;
DROP SEQUENCE IF EXISTS public.watchlist_items_id_seq;
DROP TABLE IF EXISTS public.watchlist_items;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.user_activity_log_id_seq;
DROP TABLE IF EXISTS public.user_activity_log;
DROP TABLE IF EXISTS public.trading_groups;
DROP SEQUENCE IF EXISTS public.trade_log_id_seq;
DROP TABLE IF EXISTS public.trade_log;
DROP SEQUENCE IF EXISTS public.support_tickets_id_seq;
DROP TABLE IF EXISTS public.support_tickets;
DROP SEQUENCE IF EXISTS public.support_messages_id_seq;
DROP TABLE IF EXISTS public.support_messages;
DROP SEQUENCE IF EXISTS public.support_chat_messages_id_seq;
DROP TABLE IF EXISTS public.support_chat_messages;
DROP SEQUENCE IF EXISTS public.subscriptions_id_seq;
DROP TABLE IF EXISTS public.subscriptions;
DROP SEQUENCE IF EXISTS public.subscription_plans_id_seq;
DROP TABLE IF EXISTS public.subscription_plans;
DROP SEQUENCE IF EXISTS public.stocks_id_seq;
DROP TABLE IF EXISTS public.stocks;
DROP TABLE IF EXISTS public.stock_fundamentals;
DROP SEQUENCE IF EXISTS public.signal_outcomes_id_seq;
DROP TABLE IF EXISTS public.signal_outcomes;
DROP SEQUENCE IF EXISTS public.signal_history_id_seq;
DROP TABLE IF EXISTS public.signal_history;
DROP SEQUENCE IF EXISTS public.signal_audit_log_id_seq;
DROP TABLE IF EXISTS public.signal_audit_log;
DROP SEQUENCE IF EXISTS public.prediction_log_id_seq;
DROP TABLE IF EXISTS public.prediction_log;
DROP SEQUENCE IF EXISTS public.portfolio_value_history_id_seq;
DROP TABLE IF EXISTS public.portfolio_value_history;
DROP TABLE IF EXISTS public.portfolio_state;
DROP SEQUENCE IF EXISTS public.portfolio_holdings_id_seq;
DROP TABLE IF EXISTS public.portfolio_holdings;
DROP SEQUENCE IF EXISTS public.payment_transactions_id_seq;
DROP TABLE IF EXISTS public.payment_transactions;
DROP SEQUENCE IF EXISTS public.paper_trades_id_seq;
DROP TABLE IF EXISTS public.paper_trades;
DROP SEQUENCE IF EXISTS public.paper_positions_id_seq;
DROP TABLE IF EXISTS public.paper_positions;
DROP SEQUENCE IF EXISTS public.paper_accounts_id_seq;
DROP TABLE IF EXISTS public.paper_accounts;
DROP SEQUENCE IF EXISTS public.otp_codes_id_seq;
DROP TABLE IF EXISTS public.otp_codes;
DROP SEQUENCE IF EXISTS public.notifications_id_seq;
DROP TABLE IF EXISTS public.notifications;
DROP SEQUENCE IF EXISTS public.messages_id_seq;
DROP TABLE IF EXISTS public.messages;
DROP SEQUENCE IF EXISTS public.market_data_id_seq;
DROP TABLE IF EXISTS public.market_data;
DROP TABLE IF EXISTS public.group_members;
DROP SEQUENCE IF EXISTS public.forward_predictions_id_seq;
DROP TABLE IF EXISTS public.forward_predictions;
DROP TABLE IF EXISTS public.followers;
DROP SEQUENCE IF EXISTS public.engine_health_id_seq;
DROP TABLE IF EXISTS public.engine_health;
DROP TABLE IF EXISTS public.engine_config;
DROP SEQUENCE IF EXISTS public.broker_connections_id_seq;
DROP TABLE IF EXISTS public.broker_connections;
DROP SEQUENCE IF EXISTS public.broker_account_snapshots_id_seq;
DROP TABLE IF EXISTS public.broker_account_snapshots;
DROP TABLE IF EXISTS public.app_cache;
DROP SEQUENCE IF EXISTS public.admin_audit_log_id_seq;
DROP TABLE IF EXISTS public.admin_audit_log;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_audit_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.admin_audit_log (
    id integer NOT NULL,
    admin_id integer,
    email character varying(255),
    action character varying(100) NOT NULL,
    ip_address character varying(45),
    user_agent text,
    details jsonb,
    success boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: admin_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.admin_audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: admin_audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.admin_audit_log_id_seq OWNED BY public.admin_audit_log.id;


--
-- Name: app_cache; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.app_cache (
    cache_key character varying(100) NOT NULL,
    cache_value jsonb,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: broker_account_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.broker_account_snapshots (
    id integer NOT NULL,
    broker_connection_id integer,
    balance numeric(15,2),
    equity numeric(15,2),
    margin numeric(15,2),
    free_margin numeric(15,2),
    level numeric(15,2),
    positions jsonb DEFAULT '[]'::jsonb,
    trade_history jsonb DEFAULT '[]'::jsonb,
    snapshot_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: broker_account_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.broker_account_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: broker_account_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.broker_account_snapshots_id_seq OWNED BY public.broker_account_snapshots.id;


--
-- Name: broker_connections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.broker_connections (
    id integer NOT NULL,
    user_id integer,
    broker_type character varying(50) NOT NULL,
    account_name character varying(255) NOT NULL,
    api_key text,
    api_secret text,
    config jsonb DEFAULT '{}'::jsonb,
    connected boolean DEFAULT true,
    sync_status character varying(20) DEFAULT 'idle'::character varying,
    last_sync_at timestamp with time zone,
    error_message text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    account_info jsonb DEFAULT '{}'::jsonb
);


--
-- Name: broker_connections_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.broker_connections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: broker_connections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.broker_connections_id_seq OWNED BY public.broker_connections.id;


--
-- Name: engine_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.engine_config (
    config_key character varying(100) NOT NULL,
    config_value text NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: engine_health; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.engine_health (
    id integer NOT NULL,
    status character varying(20),
    win_rate numeric(5,2),
    total_trades integer,
    consecutive_losses integer,
    regime character varying(20),
    signal_count integer,
    confidence numeric(5,2),
    recorded_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: engine_health_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.engine_health_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: engine_health_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.engine_health_id_seq OWNED BY public.engine_health.id;


--
-- Name: followers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.followers (
    follower_id integer NOT NULL,
    followee_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: forward_predictions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.forward_predictions (
    id integer NOT NULL,
    symbol character varying(20) NOT NULL,
    signal character varying(20) NOT NULL,
    confidence integer,
    price numeric(15,2),
    generated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    resolved boolean DEFAULT false,
    actual_return numeric(10,4),
    correct boolean
);


--
-- Name: forward_predictions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.forward_predictions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: forward_predictions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.forward_predictions_id_seq OWNED BY public.forward_predictions.id;


--
-- Name: group_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_members (
    group_id text NOT NULL,
    user_id integer NOT NULL,
    joined_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: market_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.market_data (
    id integer NOT NULL,
    stock_id integer,
    price numeric(15,2) NOT NULL,
    change_percent numeric(10,4),
    volume bigint,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: market_data_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.market_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: market_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.market_data_id_seq OWNED BY public.market_data.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    sender_id integer,
    sender_name text DEFAULT 'Anonymous'::text NOT NULL,
    content text NOT NULL,
    message_type text DEFAULT 'user'::text,
    group_id text,
    recipient_id integer,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    image_url text,
    file_url text,
    file_name text,
    edited_at timestamp with time zone
);


--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer,
    title text NOT NULL,
    body text NOT NULL,
    type character varying(50) DEFAULT 'info'::character varying,
    read boolean DEFAULT false,
    link text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: otp_codes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.otp_codes (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    code character varying(6) NOT NULL,
    type character varying(20) DEFAULT 'login'::character varying NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: otp_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.otp_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: otp_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.otp_codes_id_seq OWNED BY public.otp_codes.id;


--
-- Name: paper_accounts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.paper_accounts (
    id integer NOT NULL,
    user_id integer,
    cash_balance numeric(15,2) DEFAULT 1000000.00,
    initial_capital numeric(15,2) DEFAULT 1000000.00,
    cash_balance_usd numeric(15,2) DEFAULT 10000.00,
    initial_capital_usd numeric(15,2) DEFAULT 10000.00,
    total_fees_paid numeric(15,2) DEFAULT 0,
    total_fees_paid_usd numeric(15,2) DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: paper_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.paper_accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: paper_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.paper_accounts_id_seq OWNED BY public.paper_accounts.id;


--
-- Name: paper_positions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.paper_positions (
    id integer NOT NULL,
    user_id integer,
    ticker character varying(20) NOT NULL,
    name character varying(255) DEFAULT ''::character varying NOT NULL,
    shares numeric(15,4) DEFAULT 0 NOT NULL,
    avg_cost numeric(15,4) DEFAULT 0 NOT NULL,
    market character varying(10) DEFAULT 'NSE'::character varying,
    sector character varying(100) DEFAULT 'Other'::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: paper_positions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.paper_positions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: paper_positions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.paper_positions_id_seq OWNED BY public.paper_positions.id;


--
-- Name: paper_trades; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.paper_trades (
    id integer NOT NULL,
    user_id integer,
    ticker character varying(20) NOT NULL,
    name character varying(255) DEFAULT ''::character varying NOT NULL,
    shares numeric(15,4) DEFAULT 0 NOT NULL,
    price numeric(15,4) DEFAULT 0 NOT NULL,
    type character varying(10) NOT NULL,
    market character varying(10) DEFAULT 'NSE'::character varying,
    sector character varying(100) DEFAULT 'Other'::character varying,
    currency character varying(3) DEFAULT 'KES'::character varying,
    total_value numeric(15,2) DEFAULT 0 NOT NULL,
    commission numeric(15,2) DEFAULT 0,
    fees numeric(15,2) DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT paper_trades_type_check CHECK (((type)::text = ANY ((ARRAY['buy'::character varying, 'sell'::character varying])::text[])))
);


--
-- Name: paper_trades_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.paper_trades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: paper_trades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.paper_trades_id_seq OWNED BY public.paper_trades.id;


--
-- Name: payment_transactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payment_transactions (
    id integer NOT NULL,
    user_id integer,
    subscription_id integer,
    amount numeric(15,2) NOT NULL,
    currency character varying(3) DEFAULT 'KES'::character varying,
    provider character varying(50) DEFAULT 'm-pesa'::character varying,
    phone_number character varying(20),
    external_reference character varying(100),
    payhero_reference character varying(100),
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    callback_data jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    plan_name character varying(50),
    duration_months integer DEFAULT 1,
    CONSTRAINT payment_transactions_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'queued'::character varying, 'success'::character varying, 'failed'::character varying, 'cancelled'::character varying])::text[])))
);


--
-- Name: payment_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payment_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payment_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payment_transactions_id_seq OWNED BY public.payment_transactions.id;


--
-- Name: portfolio_holdings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.portfolio_holdings (
    id integer NOT NULL,
    user_id integer,
    ticker character varying(20) NOT NULL,
    name character varying(255) DEFAULT ''::character varying NOT NULL,
    shares numeric(15,4) DEFAULT 0 NOT NULL,
    avg_cost numeric(15,4) DEFAULT 0 NOT NULL,
    current_price numeric(15,4),
    sector character varying(100) DEFAULT 'Other'::character varying,
    market character varying(10) DEFAULT 'NSE'::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    broker_connection_id integer DEFAULT 0 NOT NULL
);


--
-- Name: portfolio_holdings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.portfolio_holdings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: portfolio_holdings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.portfolio_holdings_id_seq OWNED BY public.portfolio_holdings.id;


--
-- Name: portfolio_state; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.portfolio_state (
    id integer DEFAULT 1 NOT NULL,
    consecutive_losses integer DEFAULT 0,
    total_trades integer DEFAULT 0,
    peak_value numeric(15,2) DEFAULT 1,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: portfolio_value_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.portfolio_value_history (
    id integer NOT NULL,
    user_id integer,
    total_value numeric(15,2) NOT NULL,
    cash_balance numeric(15,2) NOT NULL,
    invested_value numeric(15,2) NOT NULL,
    market character varying(10) DEFAULT 'combined'::character varying,
    snapshot_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: portfolio_value_history_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.portfolio_value_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: portfolio_value_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.portfolio_value_history_id_seq OWNED BY public.portfolio_value_history.id;


--
-- Name: prediction_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.prediction_log (
    id integer NOT NULL,
    signal_history_id integer,
    ticker character varying(20) NOT NULL,
    signal_type character varying(20),
    ml_prob numeric(5,4),
    confidence integer,
    predicted_outcome character varying(10),
    actual_outcome character varying(10),
    resolved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: prediction_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.prediction_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: prediction_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.prediction_log_id_seq OWNED BY public.prediction_log.id;


--
-- Name: signal_audit_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.signal_audit_log (
    id integer NOT NULL,
    event_type character varying(50) NOT NULL,
    message text,
    details jsonb,
    recorded_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: signal_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.signal_audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: signal_audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.signal_audit_log_id_seq OWNED BY public.signal_audit_log.id;


--
-- Name: signal_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.signal_history (
    id integer NOT NULL,
    ticker character varying(20) NOT NULL,
    signal character varying(20) NOT NULL,
    confidence integer,
    price numeric(15,2),
    change_pct numeric(10,4),
    entry_price numeric(15,2),
    stop_loss numeric(15,2),
    target1 numeric(15,2),
    target2 numeric(15,2),
    risk_reward numeric(5,2),
    sector character varying(100),
    market character varying(20),
    currency character varying(10),
    trade_type character varying(20),
    timeframe character varying(20),
    reason text,
    generated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: signal_history_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.signal_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: signal_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.signal_history_id_seq OWNED BY public.signal_history.id;


--
-- Name: signal_outcomes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.signal_outcomes (
    id integer NOT NULL,
    ticker character varying(20) NOT NULL,
    entry_price numeric(15,2),
    signal character varying(20),
    exit_price numeric(15,2),
    result character varying(10),
    recorded_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    signal_history_id integer,
    CONSTRAINT signal_outcomes_result_check CHECK (((result)::text = ANY ((ARRAY['win'::character varying, 'loss'::character varying])::text[])))
);


--
-- Name: signal_outcomes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.signal_outcomes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: signal_outcomes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.signal_outcomes_id_seq OWNED BY public.signal_outcomes.id;


--
-- Name: stock_fundamentals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stock_fundamentals (
    symbol character varying(20) NOT NULL,
    pe_ratio numeric(10,2),
    pb_ratio numeric(10,2),
    debt_to_equity numeric(10,2),
    current_ratio numeric(10,2),
    roe numeric(10,2),
    revenue_growth numeric(10,2),
    eps_growth numeric(10,2),
    dividend_yield numeric(10,2),
    fcf_yield numeric(10,2),
    market_cap numeric(20,2),
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: stocks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stocks (
    id integer NOT NULL,
    ticker character varying(20) NOT NULL,
    name character varying(255) DEFAULT ''::character varying NOT NULL,
    sector character varying(100) DEFAULT 'Other'::character varying,
    market character varying(10) DEFAULT 'NSE'::character varying NOT NULL,
    currency character varying(3) DEFAULT 'KES'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: stocks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.stocks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: stocks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.stocks_id_seq OWNED BY public.stocks.id;


--
-- Name: subscription_plans; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subscription_plans (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    price_kes numeric(15,2) DEFAULT 0 NOT NULL,
    price_usd numeric(15,2) DEFAULT 0 NOT NULL,
    features jsonb DEFAULT '[]'::jsonb,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    duration_months integer DEFAULT 1
);


--
-- Name: subscription_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.subscription_plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: subscription_plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.subscription_plans_id_seq OWNED BY public.subscription_plans.id;


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subscriptions (
    id integer NOT NULL,
    user_id integer,
    plan_id integer,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    start_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    end_date timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT subscriptions_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'cancelled'::character varying, 'expired'::character varying, 'pending'::character varying])::text[])))
);


--
-- Name: subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.subscriptions_id_seq OWNED BY public.subscriptions.id;


--
-- Name: support_chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.support_chat_messages (
    id integer NOT NULL,
    user_id integer,
    user_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    message text NOT NULL,
    is_staff boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: support_chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.support_chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: support_chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.support_chat_messages_id_seq OWNED BY public.support_chat_messages.id;


--
-- Name: support_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.support_messages (
    id integer NOT NULL,
    ticket_id integer NOT NULL,
    sender character varying(255) NOT NULL,
    message text NOT NULL,
    is_staff boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: support_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.support_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: support_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.support_messages_id_seq OWNED BY public.support_messages.id;


--
-- Name: support_tickets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.support_tickets (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    subject character varying(255) NOT NULL,
    category character varying(50) DEFAULT 'general'::character varying NOT NULL,
    priority character varying(20) DEFAULT 'normal'::character varying NOT NULL,
    status character varying(20) DEFAULT 'open'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: support_tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.support_tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: support_tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.support_tickets_id_seq OWNED BY public.support_tickets.id;


--
-- Name: trade_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trade_log (
    id integer NOT NULL,
    ticker character varying(20) NOT NULL,
    side character varying(10) NOT NULL,
    shares integer NOT NULL,
    fill_price numeric(15,2) NOT NULL,
    slippage character varying(10),
    pnl numeric(15,2),
    signal_id character varying(50),
    reason text,
    executed_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT trade_log_side_check CHECK (((side)::text = ANY ((ARRAY['buy'::character varying, 'sell'::character varying])::text[])))
);


--
-- Name: trade_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.trade_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: trade_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.trade_log_id_seq OWNED BY public.trade_log.id;


--
-- Name: trading_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trading_groups (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    icon text DEFAULT '≡ƒôè'::text,
    topic text DEFAULT 'General'::text,
    created_by integer
);


--
-- Name: user_activity_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_activity_log (
    id integer NOT NULL,
    user_id integer,
    email character varying(255),
    full_name character varying(255),
    action character varying(50) NOT NULL,
    details jsonb,
    ip_address character varying(45),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: user_activity_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_activity_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_activity_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_activity_log_id_seq OWNED BY public.user_activity_log.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    role character varying(50) DEFAULT 'trader'::character varying,
    trader_type character varying(50) DEFAULT 'retail'::character varying,
    is_verified boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    sentiment_opt_in boolean DEFAULT false,
    subscription_tier character varying(50) DEFAULT 'free'::character varying,
    subscription_status character varying(20) DEFAULT 'active'::character varying,
    subscription_start_date timestamp with time zone,
    subscription_end_date timestamp with time zone,
    trial_start_date timestamp with time zone DEFAULT now()
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: watchlist_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.watchlist_items (
    id integer NOT NULL,
    symbol character varying(20) NOT NULL,
    company_name character varying(255) NOT NULL,
    notes text,
    target_price numeric(15,2),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    user_id integer
);


--
-- Name: watchlist_items_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.watchlist_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: watchlist_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.watchlist_items_id_seq OWNED BY public.watchlist_items.id;


--
-- Name: watchlists; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.watchlists (
    id integer NOT NULL,
    user_id integer,
    name character varying(100) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: watchlists_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.watchlists_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: watchlists_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.watchlists_id_seq OWNED BY public.watchlists.id;


--
-- Name: admin_audit_log id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_audit_log ALTER COLUMN id SET DEFAULT nextval('public.admin_audit_log_id_seq'::regclass);


--
-- Name: broker_account_snapshots id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_account_snapshots ALTER COLUMN id SET DEFAULT nextval('public.broker_account_snapshots_id_seq'::regclass);


--
-- Name: broker_connections id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_connections ALTER COLUMN id SET DEFAULT nextval('public.broker_connections_id_seq'::regclass);


--
-- Name: engine_health id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.engine_health ALTER COLUMN id SET DEFAULT nextval('public.engine_health_id_seq'::regclass);


--
-- Name: forward_predictions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.forward_predictions ALTER COLUMN id SET DEFAULT nextval('public.forward_predictions_id_seq'::regclass);


--
-- Name: market_data id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.market_data ALTER COLUMN id SET DEFAULT nextval('public.market_data_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: otp_codes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.otp_codes ALTER COLUMN id SET DEFAULT nextval('public.otp_codes_id_seq'::regclass);


--
-- Name: paper_accounts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_accounts ALTER COLUMN id SET DEFAULT nextval('public.paper_accounts_id_seq'::regclass);


--
-- Name: paper_positions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_positions ALTER COLUMN id SET DEFAULT nextval('public.paper_positions_id_seq'::regclass);


--
-- Name: paper_trades id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_trades ALTER COLUMN id SET DEFAULT nextval('public.paper_trades_id_seq'::regclass);


--
-- Name: payment_transactions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_transactions ALTER COLUMN id SET DEFAULT nextval('public.payment_transactions_id_seq'::regclass);


--
-- Name: portfolio_holdings id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_holdings ALTER COLUMN id SET DEFAULT nextval('public.portfolio_holdings_id_seq'::regclass);


--
-- Name: portfolio_value_history id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_value_history ALTER COLUMN id SET DEFAULT nextval('public.portfolio_value_history_id_seq'::regclass);


--
-- Name: prediction_log id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prediction_log ALTER COLUMN id SET DEFAULT nextval('public.prediction_log_id_seq'::regclass);


--
-- Name: signal_audit_log id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signal_audit_log ALTER COLUMN id SET DEFAULT nextval('public.signal_audit_log_id_seq'::regclass);


--
-- Name: signal_history id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signal_history ALTER COLUMN id SET DEFAULT nextval('public.signal_history_id_seq'::regclass);


--
-- Name: signal_outcomes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signal_outcomes ALTER COLUMN id SET DEFAULT nextval('public.signal_outcomes_id_seq'::regclass);


--
-- Name: stocks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stocks ALTER COLUMN id SET DEFAULT nextval('public.stocks_id_seq'::regclass);


--
-- Name: subscription_plans id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscription_plans ALTER COLUMN id SET DEFAULT nextval('public.subscription_plans_id_seq'::regclass);


--
-- Name: subscriptions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions ALTER COLUMN id SET DEFAULT nextval('public.subscriptions_id_seq'::regclass);


--
-- Name: support_chat_messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.support_chat_messages ALTER COLUMN id SET DEFAULT nextval('public.support_chat_messages_id_seq'::regclass);


--
-- Name: support_messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.support_messages ALTER COLUMN id SET DEFAULT nextval('public.support_messages_id_seq'::regclass);


--
-- Name: support_tickets id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.support_tickets ALTER COLUMN id SET DEFAULT nextval('public.support_tickets_id_seq'::regclass);


--
-- Name: trade_log id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trade_log ALTER COLUMN id SET DEFAULT nextval('public.trade_log_id_seq'::regclass);


--
-- Name: user_activity_log id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_activity_log ALTER COLUMN id SET DEFAULT nextval('public.user_activity_log_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: watchlist_items id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchlist_items ALTER COLUMN id SET DEFAULT nextval('public.watchlist_items_id_seq'::regclass);


--
-- Name: watchlists id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchlists ALTER COLUMN id SET DEFAULT nextval('public.watchlists_id_seq'::regclass);


--
-- Name: admin_audit_log admin_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_audit_log
    ADD CONSTRAINT admin_audit_log_pkey PRIMARY KEY (id);


--
-- Name: app_cache app_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.app_cache
    ADD CONSTRAINT app_cache_pkey PRIMARY KEY (cache_key);


--
-- Name: broker_account_snapshots broker_account_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_account_snapshots
    ADD CONSTRAINT broker_account_snapshots_pkey PRIMARY KEY (id);


--
-- Name: broker_connections broker_connections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_connections
    ADD CONSTRAINT broker_connections_pkey PRIMARY KEY (id);


--
-- Name: engine_config engine_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.engine_config
    ADD CONSTRAINT engine_config_pkey PRIMARY KEY (config_key);


--
-- Name: engine_health engine_health_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.engine_health
    ADD CONSTRAINT engine_health_pkey PRIMARY KEY (id);


--
-- Name: followers followers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.followers
    ADD CONSTRAINT followers_pkey PRIMARY KEY (follower_id, followee_id);


--
-- Name: forward_predictions forward_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.forward_predictions
    ADD CONSTRAINT forward_predictions_pkey PRIMARY KEY (id);


--
-- Name: group_members group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_pkey PRIMARY KEY (group_id, user_id);


--
-- Name: market_data market_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.market_data
    ADD CONSTRAINT market_data_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: otp_codes otp_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.otp_codes
    ADD CONSTRAINT otp_codes_pkey PRIMARY KEY (id);


--
-- Name: paper_accounts paper_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_accounts
    ADD CONSTRAINT paper_accounts_pkey PRIMARY KEY (id);


--
-- Name: paper_accounts paper_accounts_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_accounts
    ADD CONSTRAINT paper_accounts_user_id_key UNIQUE (user_id);


--
-- Name: paper_positions paper_positions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_positions
    ADD CONSTRAINT paper_positions_pkey PRIMARY KEY (id);


--
-- Name: paper_trades paper_trades_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_trades
    ADD CONSTRAINT paper_trades_pkey PRIMARY KEY (id);


--
-- Name: payment_transactions payment_transactions_external_reference_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_transactions
    ADD CONSTRAINT payment_transactions_external_reference_key UNIQUE (external_reference);


--
-- Name: payment_transactions payment_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_transactions
    ADD CONSTRAINT payment_transactions_pkey PRIMARY KEY (id);


--
-- Name: portfolio_holdings portfolio_holdings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_holdings
    ADD CONSTRAINT portfolio_holdings_pkey PRIMARY KEY (id);


--
-- Name: portfolio_state portfolio_state_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_state
    ADD CONSTRAINT portfolio_state_pkey PRIMARY KEY (id);


--
-- Name: portfolio_value_history portfolio_value_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_value_history
    ADD CONSTRAINT portfolio_value_history_pkey PRIMARY KEY (id);


--
-- Name: prediction_log prediction_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prediction_log
    ADD CONSTRAINT prediction_log_pkey PRIMARY KEY (id);


--
-- Name: signal_audit_log signal_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signal_audit_log
    ADD CONSTRAINT signal_audit_log_pkey PRIMARY KEY (id);


--
-- Name: signal_history signal_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signal_history
    ADD CONSTRAINT signal_history_pkey PRIMARY KEY (id);


--
-- Name: signal_outcomes signal_outcomes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signal_outcomes
    ADD CONSTRAINT signal_outcomes_pkey PRIMARY KEY (id);


--
-- Name: stock_fundamentals stock_fundamentals_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_fundamentals
    ADD CONSTRAINT stock_fundamentals_pkey PRIMARY KEY (symbol);


--
-- Name: stocks stocks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stocks
    ADD CONSTRAINT stocks_pkey PRIMARY KEY (id);


--
-- Name: stocks stocks_ticker_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stocks
    ADD CONSTRAINT stocks_ticker_key UNIQUE (ticker);


--
-- Name: subscription_plans subscription_plans_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscription_plans
    ADD CONSTRAINT subscription_plans_name_key UNIQUE (name);


--
-- Name: subscription_plans subscription_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscription_plans
    ADD CONSTRAINT subscription_plans_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: support_chat_messages support_chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.support_chat_messages
    ADD CONSTRAINT support_chat_messages_pkey PRIMARY KEY (id);


--
-- Name: support_messages support_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.support_messages
    ADD CONSTRAINT support_messages_pkey PRIMARY KEY (id);


--
-- Name: support_tickets support_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_pkey PRIMARY KEY (id);


--
-- Name: trade_log trade_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trade_log
    ADD CONSTRAINT trade_log_pkey PRIMARY KEY (id);


--
-- Name: trading_groups trading_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trading_groups
    ADD CONSTRAINT trading_groups_pkey PRIMARY KEY (id);


--
-- Name: watchlist_items unique_symbol_user; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT unique_symbol_user UNIQUE (symbol, user_id);


--
-- Name: portfolio_holdings unique_user_ticker_broker; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_holdings
    ADD CONSTRAINT unique_user_ticker_broker UNIQUE (user_id, ticker, broker_connection_id);


--
-- Name: user_activity_log user_activity_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_activity_log
    ADD CONSTRAINT user_activity_log_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: watchlist_items watchlist_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT watchlist_items_pkey PRIMARY KEY (id);


--
-- Name: watchlists watchlists_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT watchlists_pkey PRIMARY KEY (id);


--
-- Name: idx_admin_audit_log_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_admin_audit_log_action ON public.admin_audit_log USING btree (action);


--
-- Name: idx_admin_audit_log_admin_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_admin_audit_log_admin_id ON public.admin_audit_log USING btree (admin_id);


--
-- Name: idx_admin_audit_log_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_admin_audit_log_created_at ON public.admin_audit_log USING btree (created_at);


--
-- Name: idx_engine_health_recorded_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_engine_health_recorded_at ON public.engine_health USING btree (recorded_at);


--
-- Name: idx_fp_resolved; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fp_resolved ON public.forward_predictions USING btree (resolved);


--
-- Name: idx_fp_symbol; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fp_symbol ON public.forward_predictions USING btree (symbol);


--
-- Name: idx_market_data_stock_date; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_market_data_stock_date ON public.market_data USING btree (stock_id, "timestamp");


--
-- Name: idx_messages_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_messages_group ON public.messages USING btree (group_id, created_at);


--
-- Name: idx_messages_private; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_messages_private ON public.messages USING btree (sender_id, recipient_id, created_at);


--
-- Name: idx_prediction_log_actual_outcome; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prediction_log_actual_outcome ON public.prediction_log USING btree (actual_outcome);


--
-- Name: idx_prediction_log_signal_history_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prediction_log_signal_history_id ON public.prediction_log USING btree (signal_history_id);


--
-- Name: idx_prediction_log_ticker; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prediction_log_ticker ON public.prediction_log USING btree (ticker);


--
-- Name: idx_signal_audit_log_recorded_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_signal_audit_log_recorded_at ON public.signal_audit_log USING btree (recorded_at);


--
-- Name: idx_signal_audit_log_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_signal_audit_log_type ON public.signal_audit_log USING btree (event_type);


--
-- Name: idx_signal_history_generated_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_signal_history_generated_at ON public.signal_history USING btree (generated_at);


--
-- Name: idx_signal_history_ticker; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_signal_history_ticker ON public.signal_history USING btree (ticker);


--
-- Name: idx_signal_outcomes_result; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_signal_outcomes_result ON public.signal_outcomes USING btree (result);


--
-- Name: idx_signal_outcomes_ticker; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_signal_outcomes_ticker ON public.signal_outcomes USING btree (ticker);


--
-- Name: idx_trade_log_executed_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_trade_log_executed_at ON public.trade_log USING btree (executed_at);


--
-- Name: idx_trade_log_ticker; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_trade_log_ticker ON public.trade_log USING btree (ticker);


--
-- Name: idx_user_activity_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_activity_action ON public.user_activity_log USING btree (action);


--
-- Name: idx_user_activity_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_activity_created_at ON public.user_activity_log USING btree (created_at DESC);


--
-- Name: idx_user_activity_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_activity_user_id ON public.user_activity_log USING btree (user_id);


--
-- Name: admin_audit_log admin_audit_log_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admin_audit_log
    ADD CONSTRAINT admin_audit_log_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: broker_account_snapshots broker_account_snapshots_broker_connection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_account_snapshots
    ADD CONSTRAINT broker_account_snapshots_broker_connection_id_fkey FOREIGN KEY (broker_connection_id) REFERENCES public.broker_connections(id) ON DELETE CASCADE;


--
-- Name: broker_connections broker_connections_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.broker_connections
    ADD CONSTRAINT broker_connections_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: followers followers_followee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.followers
    ADD CONSTRAINT followers_followee_id_fkey FOREIGN KEY (followee_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: followers followers_follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.followers
    ADD CONSTRAINT followers_follower_id_fkey FOREIGN KEY (follower_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: group_members group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.trading_groups(id) ON DELETE CASCADE;


--
-- Name: group_members group_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: market_data market_data_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.market_data
    ADD CONSTRAINT market_data_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.stocks(id) ON DELETE CASCADE;


--
-- Name: messages messages_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.trading_groups(id);


--
-- Name: messages messages_recipient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_recipient_id_fkey FOREIGN KEY (recipient_id) REFERENCES public.users(id);


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: paper_accounts paper_accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_accounts
    ADD CONSTRAINT paper_accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: paper_positions paper_positions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_positions
    ADD CONSTRAINT paper_positions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: paper_trades paper_trades_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.paper_trades
    ADD CONSTRAINT paper_trades_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payment_transactions payment_transactions_subscription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_transactions
    ADD CONSTRAINT payment_transactions_subscription_id_fkey FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON DELETE SET NULL;


--
-- Name: payment_transactions payment_transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_transactions
    ADD CONSTRAINT payment_transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: portfolio_holdings portfolio_holdings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_holdings
    ADD CONSTRAINT portfolio_holdings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: portfolio_value_history portfolio_value_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_value_history
    ADD CONSTRAINT portfolio_value_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: prediction_log prediction_log_signal_history_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prediction_log
    ADD CONSTRAINT prediction_log_signal_history_id_fkey FOREIGN KEY (signal_history_id) REFERENCES public.signal_history(id) ON DELETE CASCADE;


--
-- Name: signal_outcomes signal_outcomes_signal_history_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.signal_outcomes
    ADD CONSTRAINT signal_outcomes_signal_history_id_fkey FOREIGN KEY (signal_history_id) REFERENCES public.signal_history(id);


--
-- Name: subscriptions subscriptions_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.subscription_plans(id);


--
-- Name: subscriptions subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: support_chat_messages support_chat_messages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.support_chat_messages
    ADD CONSTRAINT support_chat_messages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: support_messages support_messages_ticket_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.support_messages
    ADD CONSTRAINT support_messages_ticket_id_fkey FOREIGN KEY (ticket_id) REFERENCES public.support_tickets(id) ON DELETE CASCADE;


--
-- Name: trading_groups trading_groups_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trading_groups
    ADD CONSTRAINT trading_groups_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: user_activity_log user_activity_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_activity_log
    ADD CONSTRAINT user_activity_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: watchlist_items watchlist_items_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT watchlist_items_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: watchlists watchlists_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT watchlists_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 5wK4UoC0yx49OftjbvBWWqvXJDdD4JRJsgHSwXpOrdgdW4shFj2wff6rdfZGudy

